<header>
    <div class="p-2 bg-light shadow rounded m-3 d-flex align-items-center w-75 mx-auto">
        <p class="m-0 flex-grow-1" style="font-size:large;">Welcome {{user.username}}</p>
        <button class="btn btn-info" id="logOutBtn">LOG OUT</button>
    </div>
</header>

<h1>HOME</h1>

<h3>PRODUCTS...</h3>
<h3>MESSSAGES...</h3>