<h1>Agregar nuevo producto</h1>
<form action="/productos" method="post">
  <label for="title">{{titulo}}</label>
  <input type="text" name="title" id="title" required>

  <label for="price">{{precio}}</label>
  <input type="number" name="price" id="price" required>

  <label for="thumbnail">{{Imagen}}</label>
  <input type="text" name="thumbnail" id="thumbnail" required>

  <button type="submit">Agregar producto</button>
</form>
<a href="/productos"><button class="btn btn-outline-secondary w-100 mt-3">VER PRODUCTOS</button></a>